<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{[%-5p]} [%c{1}:%L]  %m%n{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=blue}"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console"/>
		</Root>
		<!-- hide apache httpclient logs from jira client -->
		<logger name="org.apache.http" level="error">
			<AppenderRef ref="Console"/>
		</logger>
	</Loggers>
</Configuration>
